/* NAVBAR */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #444;
}
header {
    background: linear-gradient(90deg, #f2d9ff, #2a0055);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    background: linear-gradient(90deg, #f2d9ff, #2a0055);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1001;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffd700;
}

h2 {
    color: #6a0dad;
    text-align: center;
    margin-top: 10px;
}